/**
 |--------------------------------------------------------------------------
 | File: main.scss
 | @desc (Sassy css) main file
 | @author Vuk Samardžić <samardzic.vuk@gmail.com>
 |--------------------------------------------------------------------------
 */

/**
  |--------------------------------------------------------------------------
  | Abstracts
  |--------------------------------------------------------------------------
  |
  | Here is where you can register your variables, functions, mixins and placeholders.
  |
 */

  @import "abstracts/variables";
  @import "abstracts/functions";
  @import "abstracts/mixins";
  @import "abstracts/placeholders";

/**
  |--------------------------------------------------------------------------
  | Base
  |--------------------------------------------------------------------------
  |
  | Here is where you can register your resets, typography etc...
  |
 */

  @import "base/reset";
  @import "base/typography";

/**
  |--------------------------------------------------------------------------
  | Components
  |--------------------------------------------------------------------------
  |
  | Here is where you can register your components.
  |
 */



/**
  |--------------------------------------------------------------------------
  | Layout
  |--------------------------------------------------------------------------
  |
  | Here is where you can register your layout code.
  |
 */

  @import "layout/header";
  @import "layout/navigation";
  @import "layout/grid";
  @import "layout/footer";

/**
  |--------------------------------------------------------------------------
  | Pages
  |--------------------------------------------------------------------------
  |
  | Here is where you can register your pages.
  |
 */

  @import "pages/home";

/**
  |--------------------------------------------------------------------------
  | Themes
  |--------------------------------------------------------------------------
  |
  | Here is where you can register your themes.
  |
 */


/**
  |--------------------------------------------------------------------------
  | Vendors
  |--------------------------------------------------------------------------
  |
  | Here is where you can register your vendor code.
  |
 */